.btnTodos{
height: 38px;
width: 92px;
border-radius: 32px;
padding: 0px 22px;
background-color: var(--color-brand-100);
color: var(--color-grey-700);
margin-right: 16px;
border: solid 1px var(--color-brand-100);
margin-left: 10px;
}

.btnFilter{
height: 38px;
border-radius: 32px;
padding: 0px 22px;
background-color: var(--color-grey-700);
border: solid 1px var(--color-grey-700);
color: var(--color-grey-200);
margin-right: 16px;
}

.btnVoltarTopo{
height: 38px;
width: 182px;
border-radius: 32px;
padding: 0px 22px;
background-color: var(--color-grey-200);
border: solid 1px var(--color-grey-200);
color: var(--color-grey-600);
}

.btnHome{
height: 38px;
width: 90px;
border-radius: 32px;
padding: 0px 22px;
background-color: var(--color-grey-600);
color: var(--color-grey-200);
border: solid 1px var(--color-grey-600);
}
